In [86]:
import yfinance as yf
import pandas as pd

In [36]:
data = yf.download("AMZN AAPL GOOG", start="2023-07-10", end="2023-08-30")
data.head()

[*********************100%***********************]  3 of 3 completed

             Adj Close                               Close              \
                  AAPL        AMZN        GOOG        AAPL        AMZN
Date
2023-07-10  188.355652  127.129997  116.870003  188.610001  127.129997
2023-07-11  187.826370  128.779999  117.709999  188.080002  128.779999
2023-07-12  189.514084  130.800003  119.620003  189.770004  130.800003
2023-07-13  190.283035  134.300003  124.830002  190.539993  134.300003
2023-07-14  190.432846  134.679993  125.699997  190.690002  134.679993

                              High                                 Low  \
                  GOOG        AAPL        AMZN        GOOG        AAPL
Date
2023-07-10  116.870003  189.990005  129.279999  119.070000  187.039993
2023-07-11  117.709999  189.300003  129.770004  118.224998  186.600006
2023-07-12  119.620003  191.699997  131.259995  120.959999  188.470001
2023-07-13  124.830002  191.190002  134.669998  125.334999  189.779999
2023-07-14  125.699997  191.179993  136.649994  127.089996  189.630005

                                          Open                          \
                  AMZN        GOOG        AAPL        AMZN        GOOG
Date
2023-07-10  125.919998  116.639999  189.259995  129.070007  119.070000
2023-07-11  127.349998  115.830002  189.160004  127.750000  116.760002
2023-07-12  128.830002  119.000000  189.679993  130.309998  119.300003
2023-07-13  132.710007  121.059998  190.500000  134.039993  121.540001
2023-07-14  134.059998  124.900002  190.229996  134.059998  125.129997

              Volume
                AAPL      AMZN      GOOG
Date
2023-07-10  59922200  61889300  32960100
2023-07-11  46638100  49951500  18286600
2023-07-12  60750200  54022800  22059600
2023-07-13  41342300  61170900  31535900
2023-07-14  41573900  54388100  20482800

### Historical Market Data

In [43]:
apple = yf.Ticker('AAPL')

In [89]:
hist = apple.history(period='5d', interval='30m')
hist.head()
# [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-07-17 09:30:00-04:00,191.899994,193.449997,191.809998,192.520004,9968168,0.0,0.0
2023-07-17 10:00:00-04:00,192.529999,193.130005,192.529999,192.764999,3748521,0.0,0.0
2023-07-17 10:30:00-04:00,192.764999,193.125000,192.705002,192.949997,2551003,0.0,0.0
2023-07-17 11:00:00-04:00,192.960007,193.139999,192.740005,193.005005,2266116,0.0,0.0
2023-07-17 11:30:00-04:00,193.000000,193.289993,192.850006,193.231293,2241104,0.0,0.0

In [40]:
apple.dividends

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2022-08-05 00:00:00-04:00    0.230000
2022-11-04 00:00:00-04:00    0.230000
2023-02-10 00:00:00-05:00    0.230000
2023-05-12 00:00:00-04:00    0.240000
2023-08-11 00:00:00-04:00    0.240000
Name: Dividends, Length: 80, dtype: float64

In [44]:
apple.splits

Date
1987-06-16 00:00:00-04:00    2.0
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

In [41]:
apple.actions

                           Dividends  Stock Splits
Date
1987-05-11 00:00:00-04:00   0.000536           0.0
1987-06-16 00:00:00-04:00   0.000000           2.0
1987-08-10 00:00:00-04:00   0.000536           0.0
1987-11-17 00:00:00-05:00   0.000714           0.0
1988-02-12 00:00:00-05:00   0.000714           0.0
...                              ...           ...
2022-08-05 00:00:00-04:00   0.230000           0.0
2022-11-04 00:00:00-04:00   0.230000           0.0
2023-02-10 00:00:00-05:00   0.230000           0.0
2023-05-12 00:00:00-04:00   0.240000           0.0
2023-08-11 00:00:00-04:00   0.240000           0.0

[85 rows x 2 columns]

In [45]:
apple.get_shares_full(start="2023-07-01", end=None)

2023-07-05 00:00:00-04:00    15838199808
2023-07-06 00:00:00-04:00    15945700352
2023-07-07 00:00:00-04:00    15728700416
2023-08-22 00:00:00-04:00    15634199552
dtype: int64

In [46]:
apple.major_holders

        0                                      1
0   0.07%        % of Shares Held by All Insider
1  61.32%       % of Shares Held by Institutions
2  61.36%        % of Float Held by Institutions
3    5762  Number of Institutions Holding Shares

In [117]:
apple.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,Vanguard Group Inc,1309878888,2023-03-30,0.0833,251418156960
1,Blackrock Inc.,1035008939,2023-03-30,0.0658,198659618278
2,"Berkshire Hathaway, Inc",915560382,2023-03-30,0.0582,175732661956
3,State Street Corporation,576281774,2023-03-30,0.0366,110611525108
4,"FMR, LLC",311437576,2023-03-30,0.0198,59777329097
5,"Geode Capital Management, LLC",285171112,2023-03-30,0.0181,54735743933
6,Price (T.Rowe) Associates Inc,234017381,2023-03-30,0.0149,44917296680
7,Morgan Stanley,200615893,2023-03-30,0.0128,38506214992
8,Northern Trust Corporation,173130542,2023-03-30,0.0110,33230676654
9,Norges Bank Investment Management,167374278,2022-12-30,0.0106,32125819327

In [118]:
apple.mutualfund_holders

,Holder,Shares,Date Reported,% Out,Value
0,Vanguard Total Stock Market Index Fund,459387185,2022-12-30,0.0290,88174777410
1,Vanguard 500 Index Fund,345686331,2022-12-30,0.0218,66351035216
2,Fidelity 500 Index Fund,163930044,2023-02-27,0.0104,31464733045
3,SPDR S&P 500 ETF Trust,161020780,2023-03-30,0.0102,30906328906
4,iShares Core S&P 500 ETF,133463881,2023-02-27,0.0084,25617057644
5,"Invesco ETF Tr-Invesco QQQ Tr, Series 1 ETF",128975730,2023-03-30,0.0082,24755601931
6,Vanguard Growth Index Fund,127560098,2022-12-30,0.0081,24483885521
7,Vanguard Institutional Index Fund-Institutiona...,104788341,2022-12-30,0.0066,20113074427
8,Vanguard Information Technology Index Fund,68684835,2022-11-29,0.0043,13183367397
9,Select Sector SPDR Fund-Technology,61788810,2023-02-27,0.0039,11859744342

In [119]:
apple.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2024-05-02 06:00:00-04:00           NaN           NaN          NaN
2024-01-31 16:00:00-05:00           NaN           NaN          NaN
2024-01-31 05:00:00-05:00           NaN           NaN          NaN
2023-10-25 06:00:00-04:00           NaN           NaN          NaN
2023-08-03 17:00:00-04:00          1.19           NaN          NaN
2023-08-03 16:00:00-04:00          1.19           NaN          NaN
2023-05-04 12:00:00-04:00          1.43          1.52       0.0603
2023-02-02 11:00:00-05:00          1.94          1.88      -0.0288
2022-10-27 12:00:00-04:00          1.27          1.29       0.0155
2022-07-28 12:00:00-04:00          1.16          1.20       0.0325
2022-04-28 12:00:00-04:00          1.43          1.52       0.0644
2022-01-27 11:00:00-05:00          1.89          2.10       0.1117

In [122]:
pd.DataFrame(apple.news)

,uuid,title,publisher,link,providerPublishTime,type,thumbnail,relatedTickers
0,986618e4-1b71-3a75-9f76-0c27165a64d7,Apple Wants to Crash ChatGPT's Party -- Here's...,TheStreet.com,https://finance.yahoo.com/m/986618e4-1b71-3a75...,1690144260,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,[AAPL]
1,991e41dc-06ef-448b-8f40-3616f33f737c,The stock market is overbought and due for a c...,Yahoo Finance,https://finance.yahoo.com/news/the-stock-marke...,1690124440,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[AMZN, AAPL, GOOG, GOOGL, ^GSPC, MSFT, ^DJI, ^..."
2,7b329c2e-e805-3c4e-a777-4aaed9204c37,Tech Employee Stock Benefits Could Bite Back a...,Investopedia,https://finance.yahoo.com/m/7b329c2e-e805-3c4e...,1690121151,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[NVDA, AAPL, MSFT]"
3,d0b327d0-566e-35ea-8461-d0801a449dae,"The ""Magnificent Seven"" Stocks Are Soaring Tow...",Motley Fool,https://finance.yahoo.com/m/d0b327d0-566e-35ea...,1690119000,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[^GSPC, GOOGL, META, TSLA, AMZN, AAPL, NVDA, M..."
4,1c7f032f-4280-3312-bbce-eb8672ed2727,3 Things About Microsoft Stock That Smart Inve...,Motley Fool,https://finance.yahoo.com/m/1c7f032f-4280-3312...,1690110600,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[MSFT, PANW, AAPL, AMZN]"
5,f5831b1c-b185-37be-b9cc-7fdde1959e14,"Got $1,000? 5 Buffett Stocks to Buy and Hold F...",Motley Fool,https://finance.yahoo.com/m/f5831b1c-b185-37be...,1690032600,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[AXP, AAPL]"
6,aacb2a6c-60ff-39ea-869e-641de2005432,"2 Growth Stocks to Invest $1,000 in Right Now",Motley Fool,https://finance.yahoo.com/m/aacb2a6c-60ff-39ea...,1690025100,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[AAPL, SHOP]"
7,6c4935e0-c829-3395-b169-9039577b9bb4,Morningstar | A Weekly Summary of Stock Ideas ...,Morningstar Research,https://finance.yahoo.com/m/6c4935e0-c829-3395...,1689983111,STORY,{'resolutions': [{'url': 'https://s.yimg.com/u...,"[TCEHY, TCTZF, AXP, CMCSA, DIS, GOOG, GOOGL, A..."

In [156]:
from yahooquery import Ticker

aapl = Ticker('aapl')
tickers = Ticker(['tsla', 'u'])

In [166]:
aapl.balance_sheet(frequency="q")

,asOfDate,periodType,currencyCode,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,AvailableForSaleSecurities,CapitalStock,CashAndCashEquivalents,CashCashEquivalentsAndShortTermInvestments,...,TangibleBookValue,TotalAssets,TotalCapitalization,TotalDebt,TotalEquityGrossMinorityInterest,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest,TradeandOtherPayablesNonCurrent,WorkingCapital
symbol,,,,,,,,,,,,,,,,,,,,,
aapl,2022-06-30,3M,USD,4.834300e+10,2.180300e+10,-7.151600e+10,1.310770e+11,6.211500e+10,2.750200e+10,4.823100e+10,...,5.810700e+10,3.363090e+11,1.528070e+11,1.196910e+11,5.810700e+10,2.782020e+11,2.240170e+11,1.483290e+11,2.069900e+10,-1.758100e+10
aapl,2022-09-30,3M,USD,6.411500e+10,2.818400e+10,-7.234000e+10,1.208050e+11,6.484900e+10,2.364600e+10,4.830400e+10,...,5.067200e+10,3.527550e+11,1.496310e+11,1.200690e+11,5.067200e+10,3.020830e+11,2.173500e+11,1.481010e+11,1.665700e+10,-1.857700e+10
aapl,2022-12-31,3M,USD,5.791800e+10,2.375200e+10,-6.804400e+10,NaN,6.639900e+10,2.053500e+10,5.135500e+10,...,5.672700e+10,3.467470e+11,1.563540e+11,1.111100e+11,5.672700e+10,2.900200e+11,2.179700e+11,1.527340e+11,NaN,-8.509000e+09
aapl,2023-03-31,3M,USD,4.294500e+10,1.793600e+10,-6.966800e+10,1.104610e+11,6.956800e+10,2.468700e+10,5.587200e+10,...,6.215800e+10,3.321600e+11,1.591990e+11,1.096150e+11,6.215800e+10,2.700020e+11,2.192470e+11,1.499270e+11,NaN,-7.162000e+09

In [167]:
aapl.cash_flow()

,asOfDate,periodType,currencyCode,BeginningCashPosition,CapitalExpenditure,CashDividendsPaid,CashFlowFromContinuingFinancingActivities,CashFlowFromContinuingInvestingActivities,CashFlowFromContinuingOperatingActivities,ChangeInAccountPayable,...,OtherNonCashItems,PurchaseOfBusiness,PurchaseOfInvestment,PurchaseOfPPE,RepaymentOfDebt,RepurchaseOfCapitalStock,SaleOfInvestment,ShortTermDebtIssuance,ShortTermDebtPayments,StockBasedCompensation
symbol,,,,,,,,,,,,,,,,,,,,,
aapl,2019-09-30,12M,USD,2.591300e+10,-1.049500e+10,-1.411900e+10,-9.097600e+10,4.589600e+10,6.939100e+10,-1.923000e+09,...,-6.520000e+08,-6.240000e+08,-4.063100e+10,-1.049500e+10,-8.805000e+09,-6.689700e+10,9.872400e+10,NaN,NaN,6.068000e+09
aapl,2020-09-30,12M,USD,5.022400e+10,-7.309000e+09,-1.408100e+10,-8.682000e+10,-4.289000e+09,8.067400e+10,-4.062000e+09,...,-9.700000e+07,-1.524000e+09,-1.151480e+11,-7.309000e+09,-1.359200e+10,-7.235800e+10,1.204830e+11,NaN,-963000000.0,6.829000e+09
aapl,2021-09-30,12M,USD,3.978900e+10,-1.108500e+10,-1.446700e+10,-9.335300e+10,-1.454500e+10,1.040380e+11,1.232600e+10,...,-1.470000e+08,-3.300000e+07,-1.095580e+11,-1.108500e+10,-8.750000e+09,-8.597100e+10,1.064830e+11,NaN,NaN,7.906000e+09
aapl,2022-09-30,12M,USD,3.592900e+10,-1.070800e+10,-1.484100e+10,-1.107490e+11,-2.235400e+10,1.221510e+11,9.448000e+09,...,1.110000e+08,-3.060000e+08,-7.692300e+10,-1.070800e+10,-9.543000e+09,-8.940200e+10,6.736300e+10,3.955000e+09,NaN,9.038000e+09
aapl,2022-12-31,TTM,USD,3.863000e+10,-1.169200e+10,-1.487700e+10,-1.181530e+11,-7.693000e+09,1.091900e+11,-1.644000e+10,...,-1.055000e+09,NaN,-4.716300e+10,-1.169200e+10,-1.815800e+10,-8.839900e+10,5.301500e+10,NaN,NaN,9.678000e+09
aapl,2023-03-31,TTM,USD,2.918000e+10,-1.209400e+10,-1.493200e+10,-1.155260e+11,3.891000e+09,1.095840e+11,-9.566000e+09,...,-2.689000e+09,NaN,-2.613300e+10,-1.209400e+10,-9.444000e+09,-8.536200e+10,4.371600e+10,NaN,NaN,1.011200e+10

In [168]:
aapl.income_statement()

,asOfDate,periodType,currencyCode,BasicAverageShares,BasicEPS,CostOfRevenue,DilutedAverageShares,DilutedEPS,DilutedNIAvailtoComStockholders,EBIT,...,ReconciledCostOfRevenue,ReconciledDepreciation,ResearchAndDevelopment,SellingGeneralAndAdministration,TaxEffectOfUnusualItems,TaxProvision,TaxRateForCalcs,TotalExpenses,TotalOperatingIncomeAsReported,TotalRevenue
symbol,,,,,,,,,,,,,,,,,,,,,
aapl,2019-09-30,12M,USD,1.847134e+10,2.9925,1.617820e+11,1.859565e+10,2.9725,5.525600e+10,6.393000e+10,...,1.617820e+11,1.254700e+10,1.621700e+10,1.824500e+10,0.0,1.048100e+10,0.159438,1.962440e+11,6.393000e+10,2.601740e+11
aapl,2020-09-30,12M,USD,1.735212e+10,3.3100,1.695590e+11,1.752821e+10,3.2800,5.741100e+10,6.628800e+10,...,1.695590e+11,1.105600e+10,1.875200e+10,1.991600e+10,0.0,9.680000e+09,0.144282,2.082270e+11,6.628800e+10,2.745150e+11
aapl,2021-09-30,12M,USD,1.670127e+10,5.6700,2.129810e+11,1.686492e+10,5.6100,9.468000e+10,1.089490e+11,...,2.129810e+11,1.128400e+10,2.191400e+10,2.197300e+10,0.0,1.452700e+10,0.133023,2.568680e+11,1.089490e+11,3.658170e+11
aapl,2022-09-30,12M,USD,1.621596e+10,6.1500,2.235460e+11,1.632582e+10,6.1100,9.980300e+10,1.194370e+11,...,2.235460e+11,1.110400e+10,2.625100e+10,2.509400e+10,0.0,1.930000e+10,0.162045,2.748910e+11,1.194370e+11,3.943280e+11
aapl,2022-12-31,TTM,USD,NaN,NaN,2.206660e+11,NaN,NaN,9.517100e+10,1.167250e+11,...,2.206660e+11,1.132300e+10,2.765400e+10,2.525200e+10,0.0,1.831400e+10,0.161378,2.735720e+11,1.139650e+11,3.875370e+11
aapl,2023-03-31,TTM,USD,NaN,NaN,2.188070e+11,NaN,NaN,9.432100e+10,1.152070e+11,...,2.188070e+11,1.148400e+10,2.872400e+10,2.526000e+10,0.0,1.740700e+10,0.155798,2.727910e+11,1.123040e+11,3.850950e+11